<!DOCTYPE html>
{% load static %} 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Top News</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="description" content="Your page meta description here" />

    </head>
    <body>
    <img src="{% static 'coffee-header.jpg' %}" />
        <h1>Your content title here</h1>
        <p>My long content will be here as well.</p>
        <footer class="my_footer_class_here">
            <p>{{ message }}</p>
        </footer>
    </body>
</html>