<!DOCTYPE html>
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Latest News</title>

    <link rel="stylesheet" href="{% static 'article-list-basic.css' %}">



</head>
<body background="{% static 'coffee-header.jpg' %}" />

    <ul class="article-list-basic">

        {% for article in news %}

        <li>

            <div>
                <h2><a href="{{article.url}}">{{article.section}}</a></h2>
                <p>{{article.title}}</p>
                <a href="{{article.url}}" class="read-more">Read more &rarr;</a>
            </div>
        </li>

      {% endfor %}

    </ul>

</body>

</html>